@media screen and (min-width: 576px) and (min-height: 500px) {
  .wrapper {
      height: 100vh;
      grid-template-columns: 8fr 6fr;
      grid-template-areas:
        "logo hero"
        "content hero"
        "content hero";
      background: no-repeat url("images/bg-pattern-desktop.svg");
  }

  .logo-container {
    padding-left: 20%;
  }

  .main-container {
    text-align: left;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .main-container > * {
    grid-column: 2 / span 1;
  }

  .main-container h1 {
    grid-row: 2 / span 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .text {
    grid-row: 3 / span 1;
  }

  .email-form {
    grid-row: 4 / span 1;
  }

  .image-container {
    background-image: url("images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 750px) and (min-height: 500px){
  .main-container h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
  }
}

@media screen and (min-width: 900px) and (min-height: 500px) {
  .main-container h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1rem;
  }
}
