html {
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; *behavior: url(scripts/boxsizing.htc);
    /* *behavior - for IE6 and IE7 */
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(0, 36%, 70%);
}

input {
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 30px;
  width: 100%;
}

input:focus {
  outline-style: none;/* Remove highlighting when selected */
}



.main-container {
  height: 100%;
  float: left;
  width: 60%;
  padding: 5% 10% 5%;
  background: url("images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover;
}

.image-container {
  height: 100%;
  width: 40%;
  float: right;
  background: url("images/hero-desktop.jpg");
}

/* Logo */
.logo-container {
    display: none;
}
.mini-logo {
  margin: 5%;
}

.logo {
  margin-bottom: 0;
}

/* Title */
.title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 5rem;
  margin-top: 20%;
  margin-bottom: 0;
}

.title-highlighted {
  color: black;
}

/* Text */
.text {
  line-height: 2;
  margin-right: 15%;
}

/* Email sender */
.email-form {
  margin: 5% 15% 0 0;
  position: relative;
}


.email-type {
  color: hsl(0, 36%, 70%);
  padding: 12px 20px;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.email-invalid {
  border-color: hsl(0, 100%, 60%);
  border-width: 2px;
  padding: 11px 20px;
  color: black;
  opacity: 1;
}

.email-type:focus {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  color: black;
}

.email-submit {
  width: 20%;
  padding: 5px 20px;
  font-weight: 100;
  font-size: 1.8rem;
  color: white;
  float: right;
  position: absolute;
  margin-left: -15%;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 10px 30px hsl(0, 80%, 86%);
}

.email-submit:hover {
  background: linear-gradient(135deg, hsl(0, 86%, 92%), hsl(0, 82%, 88%));
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: hsl(0, 36%, 70%);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: hsl(0, 36%, 70%);
}


/* This is the style of our error messages */
.icon {
  position: absolute;
  right: 18%;
  text-align: center;
  color: hsl(0, 100%, 60%);
  font-size: 1.5rem;
  padding-top: 10px;
  display: none;
}

.icon-show {
  display: inline;
}

.error {
  width  : 100%;
  padding: 2% 5%;
  color: hsl(0, 100%, 60%);
  /* -moz-box-sizing: border-box;
  box-sizing: border-box; */
  display: block;
}

@media (max-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .logo-container {
    display: block;
    text-align: left;
  }
  .main-container {
    width: 100%;
    order: 1;
  }
  .image-container {
    background: no-repeat center url("images/hero-mobile.jpg");
    background-size: cover;
    width: 100%;
    margin: 0;
  }

  .title {
    font-size: 3rem;
    margin-top: 15%;
  }

  .text {
    margin-right: 0;
  }

  .email-form {
    margin: 2% 0;
  }

  .email-submit {
    margin-left: -20%;
  }

}
